@charset "UTF-8";

/* Author:R.J. Morgan
  Date Created: March 13, 2020
  Assignment Name: Flexing with FlexBoxes #1
  Filename: styles.css
  Validated:1216, March 13, 2020
*/

html {
  background-color: blue;
}
