@charset "UTF-8";

/* Author:R.J. Morgan
  Date Created: April 25, 2020
  Assignment Name: Flexing with FlexBoxes #1
  Filename: styles.css
  Validated: April 25, 2020
*/

html {
  background-color: blue;
}
